<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31EAE4A71CA23A410072511C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31EAE4C01CA23A410072511C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31EAE4CB1CA23A410072511C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
